body {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    margin: 0%;
    background-color: black;
    color: white;

}
.bars-options{
    display:none;
}
.header-mobile {
    display: none;
}

.header-container {
    background-color: #00000052; 
    height: 50px;
    width: 100%;
    padding-left: 50px;
    display: flex;
    align-items: center;
    position: fixed;

    .title {
        height: 30px;
        width:auto;
        margin-right: 45px;
        img {
            height: 100%;
        }        
    }
    nav { 
        color: white;
        span {
            margin-right: 18px;
        }
    }
}

.serie-gender{
    display: flex;
    justify-content: flex-start;
    padding-right: 300px;
    padding-top: 100px;
    padding-bottom: 50px;
    width: 100%;

    .serie-gender-type{
        margin-left: 50px;
    }
    .serie-gender-gender{
        font-size: 18px;

    }

       
}


.background {     
    width: 100%;
    height: 500px;
    background-image: url("./Imagenes/banner.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

.background-text{
    margin-left: 50px;
    padding-top: 70px;
    width: 400px;
}

    .background-name{    
    width: 100%;        
    font-display: flex;
    flex-direction: column;

    .background-title-description{
        font-size: 30px;
        height: 50px;
    }

    .background-description-percent{
        display: flex;
        justify-content: flex-start;
        justify-content: space-between;
        margin-bottom: 24px;
    
        .background-coincidence{
            color: green;
        }
        .background-description-year{
            font-size: 18px;
        }
        .background-description-pg{     
            width: 40px;
            height: 25px;       
            border: 1px solid white;
            font-size: 18px;
        }
        .background-description-seasons{
            font-size: 18px;
        }
        

    }

    .background-resume{
        margin-bottom: 24px;
    }

    .background-name-button{
        margin-bottom: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;

    
        .button-description{
        font-size: 14px;  
        width: 100px;  
        height: 20px;
        margin-left: 20px;
        padding: 10px 30px;
        background-color:red;

        }

    }    

    .background-name-description-price{
        margin-bottom: 24px;
    }

    .background-name-description-text{
        margin-bottom: 24px;
    }

    
    .background-title{
        font-size: 60px;
        margin-bottom: 24px;
        }
    .background-original{
        font-size: 15px;
    }

   

     
    .button{
    font-size: 14px;  
    width: 100px;  
    height: 20px;
    margin-left: 20px;
    padding: 10px 30px;
    background-color: #00000052
    }

    .button-ponderation{
        display: flex;
        justify-content: space-between;   
        margin-left:20px;

        .button-ponderation-positive{
          background-color: rgba(0, 0, 0, 0.39);
          border-radius:50%;
          padding: 10px;
          border: 1px solid black;

        }

    }

    .background-name-description-price{
        display: flex;
        justify-content: space-between; 

        .background-name-description-price-logo{
            margin-right: 5px;
            background-color: rgba(0, 0, 0, 0.281);
            border-radius: 50%;
            padding: 20px;
            border: 1px solid black;
        }
    }

    .background-name-description-text{
        p {
            margin:0;
        }
    }
     


    }

    .background-name-title{
        font-size: 20px;
        margin-top: 12px;
        margin-bottom: 10px;

    }


}

.background-description-options{
    width: 100%;
    display: flex;
    justify-content: center;
    .background-description-option-descrop{
        margin-right: 15px;
        .linetime{
            width: 190px;
            height: 5px;
            background-color: red;
        }
    }
    

}

.section-line {
    width: calc(100%-100px);
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 40px;
    


.title-text {
        width:100%;
        height: 20px;
        font-size: 16px;  
        margin-bottom: 10px;
        margin-top: 4px;
        
    }    

.section-line-img {
        display: flex;
        width: 100%;
        overflow: hidden;

        
        .img-pequeña {
            margin-right: 4px;
        }
    }

}    




@media (max-width:1000px){
    body{
        background-color: blue;
        .header-container{
            display: none;

         

        }
        
    }
}
